<img id="slide"
     src="one.svg"
     alt="One"
     class="slide"
     width="960"
     height="540"
     data-transitions-forward="push"
     data-transitions-backward="wipe">

<progress id="progress" class="progress" value="0" max="4"></progress>

<div id="actions" class="actions">
  <a href="_five.html"
      class="action"
      data-direction="backward"
      hx-get="_five.html"
      hx-trigger="click, keyup[key=='ArrowLeft'] from:body"
      hx-push_url="true">
     Previous
  </a>

  <span class="status">1 of 5</span>

  <a href="_two.html"
      class="action"
      data-direction="forward"
      hx-get="_two.html"
      hx-trigger="click, keyup[key=='ArrowRight'] from:body"
      hx-push_url="true">
     Next
  </a>

  <a href="_one.html"
      class="action"
      data-direction="backward"
      hx-get="_one.html"
      hx-trigger="click, keyup[key=='['] from:body"
      hx-push_url="true">
     First
  </a>

  <button data-fullscreen-trigger>[ ]</button>

  <a href="_five.html"
      class="action"
      data-direction="forward"
      hx-get="_five.html"
      hx-trigger="click, keyup[key==']'] from:body"
      hx-push_url="true">
     Last
  </a>
</div>
